body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: roboto;
}
.intro {
    background-color: #1f2937;
    padding: 10px 10px 100px;
}

.header {
    display: flex;
    justify-content: space-around;
    margin: 10px 0px 100px;
}

ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
}

.content {
    display: flex;
    justify-content: center;
}

.content .left {
    display: flex;
    flex-direction: column;
    flex: 0 1 500px;
    margin-right: 20px;
    justify-content: space-between;
}

.content button {
    background-color: rgb(77, 147, 246);
    color: #e5e7eb;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    width: 135px;
}

.content .right {
    display: flex;
    align-items: center;
}

.content .placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    background-color: grey;
    width: 520px;
    height: 255px;
}

.logo,
h1 {
    font-size: 24px;
    color: #f9faf8;
}
.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
}
ul,
.left p {
    font-size: 18px;
    color: #e5e7eb;
    filter: contrast(0.5);

}
.left h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.info {
    margin: 10px 0px 100px;
}

.info-box .placeholder {
    width: 125px;
    height: 125px;
    border: 3px solid rgb(51, 95, 254);
    border-radius: 8px;
}

.info h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
}

.info-box {
    display: flex;
    justify-content: center;
}

.card {
    flex: 0 1 150px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p {
    text-align: center;
    color: #1f2937;
    filter: contrast(0.5);
}

.quote {
    background-color: #e5e7eb;
    padding: 50px 0px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    justify-content: center;
    font-weight: 300;
}
.text-container {
    flex: 0 1 800px;
}

.text-container .source {
    text-align: end;
    font-size: 25px;
    font-weight: 700;
}

.sign-up {
    margin: 100px 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-box {
    background-color: #3882f6;
    border-radius: 10px;
    flex: 0 1 900px;
    color: #e5e7eb;
    display: flex;
    padding: 50px 40px;
    justify-content: space-around;
}

.call-to-action-box button {
    width: 110px;
    height: 30px;
    background-color: #3882f6;
    border: 2px solid #e5e7eb;
    border-radius: 5px;
    color: #e5e7eb;
    font-size: 15px;
}

.call-to-action-box .right {
    display: flex;
    align-items: center;
}

.left p,
h3 {
    margin: 0;
}