body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: roboto;
}
.intro {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}
.logo,
h1 {
    font-size: 24px;
    color: #f9faf8;
}
ul,
.left p {
    font-size: 18px;
    color: #e5e7eb;
    filter: contrast(0.5);

}
.left h1 {
    font-size: 48px;
    font-weight: 800;
}
.placeholder {
    background-color: grey;
    width: 550px;
    height: 225px;
}